a {
    text-decoration: none;
}
a:link {
    color: black;
}
a:visited {
    color: black;
}

.title {
    margin-bottom: 5%;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.applist {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    padding-left: 10%;
    padding-right: 10%;
}
.app-link {
    display: block;
}
.app-container {
    height: 100px;
    transition: 0.4s;
    padding-top: 15px;
    padding-left: 10px;
}
.app-container:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
.app-container .name {
    font-size: 30px;
    font-weight: bold;
}
.app-container .description {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.8);
}