.hellopage {
    width: 100%;
    text-align: center;
}
.hellopage .content {
    display: inline-block;
    text-align: left;
    font-size: 25px;
}
.hellopage .bold {
    font-weight: 900;
    display: inline;
}
.hellopage .author {
    width: 100%;
    font-size: 20px;
    display: inline-block;
    text-align: right;
    font-style: oblique;
}